$themes: (
    gray: #666,
	pink: #ff4981,
	green: #4CD964,
	blue: #34AADC,
	red: #FF3A2D,
	yellow: #FFCC00,
	orange: #FF9500,
	violet: #C643FC
);

@import 'button';

.nps {
	font-family: "Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
	line-height: 1.42857143;
}
.nps,
.nps * {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.nps .nps-icon {
	float: right;
	font-weight: bold;
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	font-size: 16px;
	width: 30px;
	height: 30px;
	color: white;
	position: absolute;
	right: 0;
	top: 0;
}
@each $theme, $base in $themes {
	.nps.nps-#{$theme} .nps-icon {
		background-color: $base;
	}
	.nps.nps-#{$theme} .nps-icon:hover {
		background-color: darken($base, 10%);
	}
}

.nps .nps-feedback, .nps .nps-rating, .nps .nps-thanks, .nps .nps-filled {
	display: none;
}
.nps.nps-rating-visible .nps-rating {
	display: block;
}
.nps.nps-feedback-visible .nps-feedback {
	display: block;
}
.nps.nps-thanks-visible .nps-thanks {
	display: block;
}
.nps.nps-filled-visible .nps-filled {
	display: block;
}

.nps-top {
	min-height: 124px;
}
.nps-question {
	margin-bottom: 14px;
}
.nps-scale {
	font-size: 0;
}
.nps-value {
	display: inline-block;
	cursor: pointer;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	margin-right: 2px;
}
.nps-value:last-of-type {
	margin-right: 0;
}
@each $theme, $base in $themes {
	.nps.nps-#{$theme} .nps-value {
		background-color: mix($base, white, 20%);
	}
	.nps.nps-#{$theme} .nps-value.nps-selected {
		background-color: $base;
	}
	.nps.nps-#{$theme} .nps-value:hover:not(.nps-selected) {
		background-color: mix($base, white, 30%);
	}
	.nps.nps-#{$theme} .nps-value.nps-selected:hover {
		background-color: darken($base, 10%);
	}

}

.nps-hint {
	display: inline-block;
	width: 121px;
	font-size: 12px;
	font-style: italic;
	color: #999;
}
.nps-neutral {
	text-align: center;
}
.nps-likely {
	text-align: right;
}

.nps-text {
	height: 60px;
	width: 100%;
}
.nps-buttons {
	float: right;
	margin-top: 14px;
}

.nps-powered-by {
	margin-top: 14px;
	font-size: 12px;
	line-height: 34px;
	float: left;
	visibility: hidden;
}
.nps-powered-by > a {
	text-decoration: none;
	font-weight: bold;
}
@each $theme, $base in $themes {
	.nps.nps-#{$theme} .nps-powered-by > a {
		color: $base;
	}
}

.nps-is-powered-by .nps-powered-by {
	visibility: visible;
}

.nps-thanks .nps-question {
	margin-bottom: 0;
}

/* Dialog theme */

.nps.nps-dialog {
	width: 417px;
	position: fixed;
	z-index: 2147483646;

	top: 60px;
	right: -500px;

	padding: 20px;
	margin: 20px;

	background-color: #fff;
	color: #333;

	font-size: 14px;
	transition: right 500ms;
}
@each $theme, $base in $themes {
	.nps.nps-#{$theme}.nps-dialog {
		border: 2px solid $base;
		box-shadow: rgba($base, 0.4) 0 1px 4px 0;
	}
}

.nps.nps-dialog.nps-visible {
	right: 0;
}
.nps.nps-dialog .nps-question {
	margin-right: 20px;
	font-size: 16px;
}

/* In-page theme */

.nps.nps-page {
	font-size: 16px;
	color: #333;
	max-width: 500px;
	min-width: 375px;
	margin: 20px auto;
	padding: 20px;
    border: 1px solid #d8d8d8;
    background-color: white;
}

.nps.nps-page .nps-icon,
.nps.nps-page .nps-close {
	display: none;
}
.nps.nps-page .nps-powered-by {
	line-height: 38px;
}


/* Utils */

.nps-cf:before,
.nps-cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.nps-cf:after {
  clear: both;
}
