.nps {
	font-family: "Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
	line-height: 1.42857143;
}
.nps,
.nps * {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.nps .nps-feedback, .nps .nps-rating, .nps .nps-thanks {
	display: none;
}
.nps.nps-rating-visible .nps-rating {
	display: block;
}
.nps.nps-feedback-visible .nps-feedback {
	display: block;
}
.nps.nps-thanks-visible .nps-thanks {
	display: block;
}

.nps-top {
	min-height: 120px;
}
.nps-question {
	margin-bottom: 14px;
}
.nps-scale {
	font-size: 0;
}
.nps-value {
	display: inline-block;
	cursor: pointer;
	width: 34px;
	height: 32px;
	border: 1px solid #666;
	border-right: 1px dotted #666;
	border-left: none;
	background-color: white;
}
.nps-value.nps-selected {
	background-color: #666;
	border-right: 1px dotted white;
}
.nps-value:first-of-type {
	border-left: 1px solid #666;
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
}
.nps-value:last-of-type {
	border-right: 1px solid #666;
	border-top-right-radius: 16px;
	border-bottom-right-radius: 16px;
}
.nps-value:hover:not(.nps-selected) {
	background-color: #eee;
}
.nps-value.nps-selected:hover {
	background-color: #555;
}
.nps-hint {
	display: inline-block;
	width: 122px;
	font-size: 12px;
	font-style: italic;
}
.nps-neutral {
	text-align: center;
}
.nps-likely {
	text-align: right;
}

.nps-text {
	height: 60px;
	width: 100%;
}
.nps-buttons {
	float: right;
	margin-top: 14px;
}

.nps-powered-by {
	color: #666;
	margin-top: 14px;
	font-size: 12px;
	line-height: 30px;
	float: left;
	visibility: hidden;
}
.nps-powered-by > a {
	color: #666;
	font-weight: bold;
}
.nps-is-powered-by .nps-powered-by {
	visibility: visible;
}

.nps-thanks .nps-question {
	margin-bottom: 0;
}

/* Dialog skin */

.nps.nps-dialog {
	width: 417px;
	position: fixed;
	z-index: 2147483646;

	top: 60px;
	right: -500px;

	padding: 20px;
	margin: 20px;

	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.4) 0 1px 4px 0;

	background-color: #f8f8f8;
	color: #333;

	font-size: 14px;
	transition: right 500ms;	
}
.nps.nps-dialog.nps-visible {
	right: 0;
}

/* In-page skin */

.nps.nps-page {
	font-size: 16px;
	color: #333;
	max-width: 500px;
	min-width: 375px;
	margin: 20px auto;
	padding: 20px;
    border: 1px solid #d8d8d8;
    background-color: white;
}

.nps.nps-page .nps-dismiss,
.nps.nps-page .nps-close {
	display: none;
}

/* Utils */

.nps-cf:before,
.nps-cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.nps-cf:after {
  clear: both;
}
