<div class="nps nps-{{theme}} nps-{{skin}}"
	v-class="nps-visible: visible, nps-is-powered-by: poweredBy">

	<button class="nps-icon nps-dismiss" v-on="click: dismiss">&#x2715;</button>

	<div class="nps-cf" v-if="state === 'rating'">
		<div class="nps-top">
			<div class="nps-question">{{translation.HOW_LIKELY}}</div>
			<div class="nps-Scale">
			    <div v-repeat="ratings"
			    	class="nps-Scale-value nps-Scale-value--{{$index}}"
			    	v-class="nps-is-selected: selected"
			    	v-on="click: selectRating({{$index}})"></div>
	 			</div>
			<div class="nps-hint nps-not-likely">{{translation.NOT_AT_ALL}}</div>
			<div class="nps-hint nps-neutral">{{translation.NEUTRAL}}</div>
			<div class="nps-hint nps-likely">{{translation.EXTREMLY}}</div>
		</div>

		<div class="nps-powered-by">
			Powered by <a href="http://www.satismeter.com" target="_blank">SatisMeter</a>
		</div>

		<div class="nps-buttons">
			<button class="nps-button nps-button-primary nps-submit"
				v-on="click: ratingSubmit" disabled="{{rating === null}}">
				{{translation.SUBMIT}}</button>
		</div>
	</div>

	<div class="nps-cf" v-if="state==='feedback'">
		<div class="nps-top">
			<div class="nps-question">{{translation.THANKS_IMPROVE}}</div>
			<textarea class="nps-textarea nps-text"
				placeholder="{{translation.GIVE_FEEDBACK}}"
				v-model="feedback"></textarea>
		</div>

		<div class="nps-powered-by">
			Powered by <a href="http://www.satismeter.com" target="_blank">SatisMeter</a>
		</div>

		<div class="nps-buttons">
			<button class="nps-button nps-button-primary nps-submit"
				v-on="click: feedbackSubmit">
				{{translation.SUBMIT}}</button>
		</div>
	</div>

	<div class="nps-cf" v-if="state==='thanks'">
		<div class="nps-top">
			<div class="nps-question">{{translation.THANKS}}</div>
		</div>

		<div class="nps-powered-by">
			Powered by <a href="http://www.satismeter.com" target="_blank">SatisMeter</a>
		</div>

		<div class="nps-buttons">
			<button class="nps-button nps-button-primary nps-close"
				v-on="click: hide">
				{{translation.DISMISS}}</button>
		</div>
	</div>

	<div class="nps-cf" v-if="state==='filled'">
		<div class="nps-top">
			<div class="nps-question">{{translation.FILLED}}</div>
		</div>

		<div class="nps-powered-by">
			Powered by <a href="http://www.satismeter.com" target="_blank">SatisMeter</a>
		</div>
	</div>
</div>
