<div class="nps-Survey nps-Survey--{{theme}} nps-Survey--{{skin}}"
	v-class="nps-is-visible: visible">

	<button class="nps-Survey-closeIcon" v-on="click: close">&#x2715;</button>

	<div class="nps-Survey-body">

		<div v-if="state === 'rating'">
			<div class="nps-Survey-question">{{translation.HOW_LIKELY}}</div>
			<div class="nps-Scale">
				<div class="nps-Scale-ratings">
				    <div v-repeat="ratings"
				    	class="nps-Scale-value"
				    	v-class="nps-is-selected: selected"
				    	v-on="click: selectRating({{$index}})"></div>
			    </div>
		 		<div class="nps-cf">
					<div class="nps-Survey-hint nps-Survey-hint--notLikely">
						{{translation.NOT_AT_ALL}}</div>
					<div class="nps-Survey-hint nps-Survey-hint--likely">
						{{translation.EXTREMLY}}</div>
		 		</div>
 			</div>
		</div>

		<div v-if="state==='feedback'">
			<div class="nps-Survey-question">{{translation.THANKS_IMPROVE}}</div>
			<textarea class="nps-Survey-feedback"
				placeholder="{{translation.GIVE_FEEDBACK}}"
				v-model="feedback"></textarea>
		</div>

		<div v-if="state==='thanks'">
			<div class="nps-Survey-question">{{translation.THANKS}}</div>
		</div>

		<div v-if="state==='filled'">
			<div class="nps-Survey-question">{{translation.FILLED}}</div>
		</div>

	</div>

	<div class="nps-cf">
		<div class="nps-Survey-poweredBy" v-if="poweredBy">
			Powered by <a href="http://www.satismeter.com" target="_blank">SatisMeter</a>
		</div>

		<div class="nps-Survey-buttons">
			<button class="nps-Button nps-Survey-submit"
				v-if="state==='rating'"
				v-on="click: ratingSubmit" disabled="{{rating === null}}">
				{{translation.SUBMIT}}</button>
			<button class="nps-Button nps-Survey-submit"
				v-if="state==='feedback'"
				v-on="click: feedbackSubmit">
				{{translation.SUBMIT}}</button>
			<button class="nps-Button nps-Survey-close"
				v-if="state==='thanks'"
				v-on="click: close">
				{{translation.DISMISS}}</button>

		</div>
	</div>

</div>
