.nps-Button {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
  user-select: none;
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  text-decoration: none;
  border: 0;
}
.nps-Button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.nps-Button:focus {
  outline: 0;
}

.nps-Button[disabled] {
  border: none;
  background-image: none;
  opacity: 0.40;
  cursor: default;
  box-shadow: none;
}

.nps-Button--simple {
  border: 0;
  cursor: pointer;
  padding: 0;  
}

.nps-Button--icon {
  width: 30px;
  height: 30px;
  padding: 0;  
}

.nps-Button--simple:focus, .nps-Button--simple:hover {
  outline: none;
}
