.nps-Survey .nps-RadioList {
  margin-top: 10px;
}

.nps-Survey .nps-RadioList-label {
  display: block;
  font-weight: normal;
}

.nps-Survey .nps-RadioList-radio {
  margin-right: 8px;
  margin-left: 4px;
}
