  <div class="nps-Scale">
    <div class="nps-Scale-values">
      <div
        class="nps-Scale-value {{disabled ? 'is-disabled' : ''}}"
        v-repeat="number: numbers"
        v-on="mouseenter: highlightValue(number), mouseleave: unhighlightValue, click: setValue(number)"
      >
        <div class="nps-Scale-button" v-style="getButtonStyle(number)">
          <template v-if="showNumbers">{{number}}</template>
        </div>
      </div>
    </div>

    <div class="nps-cf">
      <div class="nps-Scale-hint nps-Scale-hint--unlikely" v-style="color: c('foreground-light')">
        {{lowLegend}}
      </div>
      <div class="nps-Scale-hint nps-Scale-hint--likely" v-style="color: c('foreground-light')">
        {{highLegend}}</div>
    </div>
  </div>
