.nps-Scale {
  margin-top: 14px;
  display: inline-block;
}

.nps-Scale-values {
  margin-bottom: 4px;
  text-align: center;
}

.nps-Scale-value {
  display: inline-block;
  padding-right: 2px;
  vertical-align: middle;
  line-height: 1;
  font-size: 1.5em;
}

.nps-Scale-value:last-of-type {
  padding-right: 0;
}

.nps-Scale-value:hover {
  cursor: pointer;
}

.nps-Scale-button {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  font-size: 12px;
}

@media (max-width: 480px) {
  .nps-Scale-button {
    width: 22px;
    height: 22px;
    line-height: 22px;
  }
}

.nps-small .nps-Scale-button {
  width: 22px;
  height: 22px;
  line-height: 22px;
}

.nps-Scale-hint {
  font-size: 12px;
  font-style: italic;
}
.nps-Scale-hint--unlikely {
  float: left;
  padding-right: 10px;
}
.nps-Scale-hint--likely {
  float: right;
  padding-left: 10px;
}

.nps-Survey[dir="rtl"] .nps-Scale-hint--unlikely {
  float: right;
}
.nps-Survey[dir="rtl"] .nps-Scale-hint--likely {
  float: left;
}
