.nps-Bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  transition: bottom 500ms;
  z-index: 2147483647;
  padding: 0 20px;
  max-height: 100vh;
  overflow: auto;
}
.nps-embed .nps-Bar {
  position: absolute;
  max-height: 100%;
}
.nps-Bar .nps-PoweredBy {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.nps-embed .nps-Bar .nps-PoweredBy {
  display: none;
}

@media (max-width: 700px) {
  .nps-Bar .nps-PoweredBy {
    display: none;
  }
}

.nps-Bar .nps-Scale {
  margin-left: auto;
  margin-right: auto;
}

.nps-Bar .nps-Survey-bounding {
  max-width: 600px;
  margin: 20px auto;
}

.nps-Bar .nps-Title {
  font-size: 14px;
}
