<div
  class="nps-Bar"
  v-transition="nps-slide"
  v-show="visible"
  v-style="background-color: c('background'), color: c('foreground'),
    box-shadow: 'rgba(' + c('shadow') + ', 0.4) 0 1px 4px 0',
    border-top: '1px solid ' + c('border')"
  >

  <div class="nps-Bar-close nps-fade" style="position: absolute; right: 20px; top: 10px; font-size: 18px;" v-if="showCloseIcon" v-transition="nps-fade">
    <nps-button type="simple" action="close">&#x2715;</nps-button>
  </div>

  <div class="nps-Survey-bounding">
      <div class="nps-Survey-content">

        <div v-if="state == 'rating'" v-transition="next">
          <div class="nps-Title nps-center">{{{ likelyHtml }}}</div>
          <template v-partial="rating"></template>
        </div>

        <div v-if="state == 'feedback'" v-transition="next">
          <div class="nps-Title nps-left">{{ t('FOLLOWUP') }}</div>
          <template v-partial="feedback"></template>
        </div>

        <div v-if="state == 'thanks'" v-transition="next">
          <template v-partial="thanks"></template>
        </div>

        <div v-if="state == 'filled'" v-transition="next">
          <template v-partial="filled"></template>
        </div>

      </div>
  </div>

  <template v-partial="powered-by"></template>


</div>
