.nps-Dialog {
  background-color: white;
  border-width: 2px;
  border-style: solid;
  margin: auto;
  padding: 20px;
  position: fixed;
  width: 417px;
  z-index: 2147483646;
}
.nps-Dialog--preview {
  position: absolute;
}

@each $theme, $base in $themes {
  .nps-Survey--#{$theme} .nps-Dialog {
    border-color: $base;
    box-shadow: rgba($base, 0.4) 0 1px 4px 0;
  }
}

.nps-Dialog--top {
  top: 20px;
}

.nps-Dialog--middle {
  top: 50%;
  transform: translate(0, -50%);
}

.nps-Dialog--bottom {
  bottom: 20px;
}

.nps-Dialog--left {
  transition: left 500ms;
  left: 20px;
}
.nps-Dialog--left.nps-show-enter,
.nps-Dialog--left.nps-show-leave {
  left: -500px;
}

.nps-Dialog--center {
  left: 0;
  right: 0;
}

.nps-Dialog--center.nps-Dialog--top {
  transition: top 500ms;
}
.nps-Dialog--center.nps-Dialog--top.nps-show-enter,
.nps-Dialog--center.nps-Dialog--top.nps-show-leave {
  top: -500px;
}

.nps-Dialog--center.nps-Dialog--middle {
  transform: translate(0, -50%) scale(1);
  transition: all 500ms;
}
.nps-Dialog--center.nps-Dialog--middle.nps-show-enter,
.nps-Dialog--center.nps-Dialog--middle.nps-show-leave {
  transform: translate(0, -50%) scale(0);
}

.nps-Dialog--center.nps-Dialog--bottom {
  transition: bottom 500ms;
  bottom: 20px;
}
.nps-Dialog--center.nps-Dialog--bottom.nps-show-enter,
.nps-Dialog--center.nps-Dialog--bottom.nps-show-leave {
  bottom: -500px;
}

.nps-Dialog--right {
  transition: right 500ms;
  right: 20px;
}
.nps-Dialog--right.nps-show-enter,
.nps-Dialog--right.nps-show-leave {
  right: -500px;
}

.nps-Dialog .nps-Title {
  margin-right: 20px;
}

.nps-Dialog-close {
  float: right;
  font-weight: bold;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;

  font-size: 16px;
  width: 30px;
  height: 30px;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
}
.nps-Dialog-close:focus {
  outline: 0;
}
@each $theme, $base in $themes {
  .nps-Survey--#{$theme} .nps-Dialog-close {
    background-color: $base;
    &:hover {
      background-color: mix($base, white, 90%);
    }
  }
}
