.nps-Dialog {
  background-color: white;
  border-width: 2px;
  border-style: solid;
  margin: auto;
  padding: 20px;
  position: fixed;
  width: 417px;
  z-index: 2147483646;
  transition: all 500ms;
}
.nps-Dialog--preview {
  position: absolute;
}

@each $theme, $base in $themes {
  .nps-Survey--#{$theme} .nps-Dialog {
    border-color: $base;
    box-shadow: rgba($base, 0.4) 0 1px 4px 0;
  }
}

.nps-Dialog--top.nps-Dialog--left {
  top: 20px;
  left: 20px;
  &.nps-show-enter, &.nps-show-leave {
    left: -500px;
  }
}
.nps-Dialog--top.nps-Dialog--center {
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  &.nps-show-enter, &.nps-show-leave {
    top: -500px;
  }
}
.nps-Dialog--top.nps-Dialog--right {
  top: 20px;
  left: 100%;
  transform: translate(-20px, 0) translate(-100%, 0);
  &.nps-show-enter, &.nps-show-leave {
    transform: translate(500px, 0) translate(-100%, 0);
  }
}

.nps-Dialog--middle.nps-Dialog--left {
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
  &.nps-show-enter, &.nps-show-leave {
    left: -500px;
  }
}
.nps-Dialog--middle.nps-Dialog--center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  &.nps-show-enter, &.nps-show-leave {
    transform: translate(-50%, -50%) scale(0);
  }
}
.nps-Dialog--middle.nps-Dialog--right {
  top: 50%;
  left: 100%;
  transform: translate(-20px, 0) translate(-100%, -50%);
  &.nps-show-enter, &.nps-show-leave {
    transform: translate(500px, 0) translate(-100%, -50%);
  }
}

.nps-Dialog--bottom.nps-Dialog--left {
  top: 100%;
  left: 20px;
  transform: translate(0, -20px) translate(0, -100%);
  &.nps-show-enter, &.nps-show-leave {
    left: -500px;
  }
}
.nps-Dialog--bottom.nps-Dialog--center {
  top: 100%;
  left: 50%;
  transform: translate(0, -20px) translate(-50%, -100%);
  &.nps-show-enter, &.nps-show-leave {
    transform: translate(0, 500px) translate(-50%, -100%);
  }
}
.nps-Dialog--bottom.nps-Dialog--right {
  top: 100%;
  left: 100%;
  transform: translate(-20px, -20px) translate(-100%, -100%);
  &.nps-show-enter, &.nps-show-leave {
    transform: translate(500px, -20px) translate(-100%, -100%);
  }
}

.nps-Dialog .nps-Title {
  margin-right: 20px;
}

.nps-Dialog-close {
  float: right;
  font-weight: bold;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;

  font-size: 16px;
  width: 30px;
  height: 30px;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
}
.nps-Dialog-close:focus {
  outline: 0;
}
@each $theme, $base in $themes {
  .nps-Survey--#{$theme} .nps-Dialog-close {
    background-color: $base;
    &:hover {
      background-color: mix($base, white, 90%);
    }
  }
}
