<div
  class="nps-Dialog
    nps-Dialog--{{vertical}}
    nps-Dialog--{{horizontal}}"
  v-show="visible"
  v-transition="nps-show"
  >

  <button
    type="button"
    class="nps-Dialog-close nps-fade"
    v-if="showCloseIcon"
    v-on="click: onClose"
    v-transition="nps-fade"
  >&#x2715;</button>

  <div class="nps-Survey-bounding">
      <div class="nps-Survey-content">

        <div v-if="state == 'rating'" v-transition="next">
          <div class="nps-Title">{{{ likelyHtml }}}</div>
          <template v-partial="rating"></template>
          <div v-partial="powered-by"></div>
        </div>

        <div v-if="state == 'feedback'" v-transition="next">
          <div class="nps-Title">{{ t('FOLLOWUP') }}</div>
          <div v-partial="feedback"></div>
          <div v-partial="powered-by" class="nps-Dialog-FeedbackPoweredBy"></div>
        </div>

        <div v-if="state == 'thanks'" v-transition="next">
          <div v-partial="thanks"></div>
          <div v-partial="powered-by"></div>
        </div>

        <div v-if="state == 'filled'" v-transition="next">
          <div v-partial="filled"></div>
          <div v-partial="powered-by"></div>
        </div>

      </div>
  </div>

</div>
