
.nps-Feedback {
  text-align: left;
}
.nps-Feedback-reason {
  margin-top: 14px;
}
.nps-Feedback-reason label {
  display: block;
  font-weight: normal;
}
.nps-Feedback-reason input {
  margin-right: 8px;
  margin-left: 4px;
}

.nps-Feedback-text {
  margin-top: 14px;
  height: 80px;
  border-width: 2px;
  border-style: solid;
  font-size: 14px;
  padding: 7px 10px;
  width: 100%;
  resize: vertical;
  max-height: 300px;
  box-sizing: border-box;
  transition: border-color 300ms, background-color 300ms;
}
.nps-Feedback-text:focus {
  outline: 0;
}
@each $theme, $base in $themes {
  .nps-Survey--#{$theme} {
    .nps-Feedback-text {
      border-color: mix($base, white, 20%);
    }
    .nps-Feedback-text:focus {
      border-color: mix($base, white, 80%);
      background-color: mix($base, white, 4%);
    }
  }
}

.nps-Feedback-submit {
  margin-top: 10px;
  float: right;
}
