.nps-Survey .nps-Feedback {
  text-align: left;
}
.nps-Survey .nps-Feedback-reason {
  margin-top: 10px;
}
.nps-Survey .nps-Feedback-reason label {
  display: block;
  font-weight: normal;
}
.nps-Survey .nps-Feedback-reason input {
  margin-right: 8px;
  margin-left: 4px;
  position: relative;
  top: -2px;
}

.nps-Survey .nps-Feedback-submit {
  float: right;
}

.nps-Survey .nps-Feedback-question {
  margin: 20px 0;
}

.nps-Survey .nps-Feedback-question:first-child {
  margin-top: 0;
}
.nps-Survey .nps-Feedback-question:last-child {
  margin-bottom: 0;
}
