<div
  class="nps-Feedback"
  >
  <div
    class="nps-Feedback-reason"
    v-if="hasReasons"
    >
    <label v-repeat="r: t('REASONS')">
      <input type="radio" name="nps-reason" v-model="reason" value="{{r}}"> {{r}}
    </label>
  </div>

  <textarea
    placeholder="{{t('DETAILS')}}"
    v-model="feedback"
    class="nps-Feedback-text"
    ></textarea>

    <div class="nps-cf">
      <button
        type="button"
        class="nps-Button nps-Feedback-submit"
        v-on="click: submit"
        >{{t('SUBMIT')}}</button>
      </div>

</div>
