
<div
class="nps-Feedback"
>

  <template v-repeat="question: questions">
    <div class="nps-Feedback-question">
      <div class="nps-Title nps-left">{{question.label}}</div>

      <div>
        <nps-scale value="{{answers[$index].value}}" show-numbers="{{showNumbers}}" min="1" max="5" low-legend="{{legend('low', $index)}}" high-legend="{{legend('high', $index)}}"></nps-scale>
      </div>
    </div>
  </template>

  <div class="nps-Feedback-question">
    <div class="nps-Title nps-left">{{ t('FOLLOWUP') }}</div>

      <div
      class="nps-Feedback-reason"
      v-if="hasReasons"
      >
        <label v-repeat="r: t('REASONS')" v-el="reasons">
          <input type="radio" name="nps-reason" v-model="reason" value="{{r}}"> {{r}}
        </label>
      </div>

      <div style="margin-top: 14px;">
        <nps-textarea value="{{feedback}}" v-ref="feedback" placeholder="{{t('DETAILS')}}"></nps-textarea>
      </div>
  </div>

  <div class="nps-cf">
    <div style="float: right;">
      <nps-button action="submit" disabled="{{submitDisabled}}">{{t('SUBMIT')}}</nps-button>
    </div>
  </div>
</div>
