.nps-fade {
  opacity: 1;
  -webkit-transition: opacity 500ms;
          transition: opacity 500ms; }

.nps-fade-enter,
.nps-fade-leave {
  opacity: 0; }

.nps-expand {
  max-height: 400px;
  overflow: hidden;
  -webkit-transition: max-height 500ms, opacity 500ms;
          transition: max-height 500ms, opacity 500ms; }

.nps-expand-enter,
.nps-expand-leave {
  max-height: 0px;
  opacity: 0; }

.nps-Button {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #fff;
  border: 0; }

.nps-Button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.nps-Button:focus {
  outline: 0; }

.nps-Button[disabled] {
  border: none;
  background-image: none;
  opacity: 0.40;
  cursor: default;
  box-shadow: none; }

.nps-Survey--gray .nps-Button {
  background-color: #666; }
  .nps-Survey--gray .nps-Button:hover {
    background-color: #757575; }

.nps-Survey--pink .nps-Button {
  background-color: #ff4981; }
  .nps-Survey--pink .nps-Button:hover {
    background-color: #ff5b8d; }

.nps-Survey--green .nps-Button {
  background-color: #4CD964; }
  .nps-Survey--green .nps-Button:hover {
    background-color: #5ddc73; }

.nps-Survey--blue .nps-Button {
  background-color: #007AFF; }
  .nps-Survey--blue .nps-Button:hover {
    background-color: #1987ff; }

.nps-Survey--red .nps-Button {
  background-color: #FF3A2D; }
  .nps-Survey--red .nps-Button:hover {
    background-color: #ff4d42; }

.nps-Survey--yellow .nps-Button {
  background-color: #FFCC00; }
  .nps-Survey--yellow .nps-Button:hover {
    background-color: #ffd119; }

.nps-Survey--orange .nps-Button {
  background-color: #FF9500; }
  .nps-Survey--orange .nps-Button:hover {
    background-color: #ff9f19; }

.nps-Survey--violet .nps-Button {
  background-color: #C643FC; }
  .nps-Survey--violet .nps-Button:hover {
    background-color: #cb55fc; }

.nps-Dialog {
  background-color: white;
  border-width: 2px;
  border-style: solid;
  margin: auto;
  padding: 20px;
  position: fixed;
  width: 417px;
  z-index: 2147483646;
  -webkit-transition: all 500ms;
          transition: all 500ms; }

.nps-Dialog--preview {
  position: absolute; }

.nps-Survey--gray .nps-Dialog {
  border-color: #666;
  box-shadow: rgba(102, 102, 102, 0.4) 0 1px 4px 0; }

.nps-Survey--pink .nps-Dialog {
  border-color: #ff4981;
  box-shadow: rgba(255, 73, 129, 0.4) 0 1px 4px 0; }

.nps-Survey--green .nps-Dialog {
  border-color: #4CD964;
  box-shadow: rgba(76, 217, 100, 0.4) 0 1px 4px 0; }

.nps-Survey--blue .nps-Dialog {
  border-color: #007AFF;
  box-shadow: rgba(0, 122, 255, 0.4) 0 1px 4px 0; }

.nps-Survey--red .nps-Dialog {
  border-color: #FF3A2D;
  box-shadow: rgba(255, 58, 45, 0.4) 0 1px 4px 0; }

.nps-Survey--yellow .nps-Dialog {
  border-color: #FFCC00;
  box-shadow: rgba(255, 204, 0, 0.4) 0 1px 4px 0; }

.nps-Survey--orange .nps-Dialog {
  border-color: #FF9500;
  box-shadow: rgba(255, 149, 0, 0.4) 0 1px 4px 0; }

.nps-Survey--violet .nps-Dialog {
  border-color: #C643FC;
  box-shadow: rgba(198, 67, 252, 0.4) 0 1px 4px 0; }

.nps-Dialog--top {
  top: 20px; }

.nps-Dialog--middle {
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%); }

.nps-Dialog--bottom {
  bottom: 20px; }

.nps-Dialog--left {
  -webkit-transition: left 500ms;
          transition: left 500ms;
  left: 20px; }
  .nps-Dialog--left.nps-show-enter, .nps-Dialog--left.nps-show-leave {
    left: -500px; }

.nps-Dialog--center {
  left: 0;
  right: 0; }

.nps-Dialog--center.nps-Dialog--top.nps-show-enter, .nps-Dialog--center.nps-Dialog--top.nps-show-leave {
  top: -500px; }

.nps-Dialog--center.nps-Dialog--middle {
  -webkit-transform: translate(0, -50%) scale(1);
      -ms-transform: translate(0, -50%) scale(1);
          transform: translate(0, -50%) scale(1); }
  .nps-Dialog--center.nps-Dialog--middle.nps-show-enter, .nps-Dialog--center.nps-Dialog--middle.nps-show-leave {
    -webkit-transform: translate(0, -50%) scale(0);
        -ms-transform: translate(0, -50%) scale(0);
            transform: translate(0, -50%) scale(0); }

.nps-Dialog--center.nps-Dialog--bottom {
  bottom: 20px; }
  .nps-Dialog--center.nps-Dialog--bottom.nps-show-enter, .nps-Dialog--center.nps-Dialog--bottom.nps-show-leave {
    bottom: -500px; }

.nps-Dialog--right {
  right: 20px; }
  .nps-Dialog--right.nps-show-enter, .nps-Dialog--right.nps-show-leave {
    right: -500px; }

.nps-Dialog .nps-Title {
  margin-right: 20px; }

.nps-Dialog-close {
  float: right;
  font-weight: bold;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  font-size: 16px;
  width: 30px;
  height: 30px;
  color: white;
  position: absolute;
  right: 0;
  top: 0; }

.nps-Dialog-close:focus {
  outline: 0; }

.nps-Survey--gray .nps-Dialog-close {
  background-color: #666; }
  .nps-Survey--gray .nps-Dialog-close:hover {
    background-color: #757575; }

.nps-Survey--pink .nps-Dialog-close {
  background-color: #ff4981; }
  .nps-Survey--pink .nps-Dialog-close:hover {
    background-color: #ff5b8d; }

.nps-Survey--green .nps-Dialog-close {
  background-color: #4CD964; }
  .nps-Survey--green .nps-Dialog-close:hover {
    background-color: #5ddc73; }

.nps-Survey--blue .nps-Dialog-close {
  background-color: #007AFF; }
  .nps-Survey--blue .nps-Dialog-close:hover {
    background-color: #1987ff; }

.nps-Survey--red .nps-Dialog-close {
  background-color: #FF3A2D; }
  .nps-Survey--red .nps-Dialog-close:hover {
    background-color: #ff4d42; }

.nps-Survey--yellow .nps-Dialog-close {
  background-color: #FFCC00; }
  .nps-Survey--yellow .nps-Dialog-close:hover {
    background-color: #ffd119; }

.nps-Survey--orange .nps-Dialog-close {
  background-color: #FF9500; }
  .nps-Survey--orange .nps-Dialog-close:hover {
    background-color: #ff9f19; }

.nps-Survey--violet .nps-Dialog-close {
  background-color: #C643FC; }
  .nps-Survey--violet .nps-Dialog-close:hover {
    background-color: #cb55fc; }

.nps-Feedback-textContainer {
  height: 80px;
  margin-top: 14px;
  overflow: hidden;
  -webkit-transition: height 500ms;
          transition: height 500ms; }

.nps-Feedback-textContainer.nps-expand-enter,
.nps-Feedback-textContainer.nps-expand-leave {
  height: 0px; }

.nps-Feedback-text {
  border-width: 2px;
  border-style: solid;
  font-size: 14px;
  padding: 7px 10px;
  width: 100%;
  height: 100%;
  resize: none; }

.nps-Feedback-text:focus {
  outline: 0; }

.nps-Survey--gray .nps-Feedback-text {
  border-color: #e0e0e0; }
.nps-Survey--gray .nps-Feedback-text:focus {
  border-color: #848484;
  background-color: #f8f8f8; }

.nps-Survey--pink .nps-Feedback-text {
  border-color: #ffdae5; }
.nps-Survey--pink .nps-Feedback-text:focus {
  border-color: #ff6d9a;
  background-color: #fef7f9; }

.nps-Survey--green .nps-Feedback-text {
  border-color: #dbf7e0; }
.nps-Survey--green .nps-Feedback-text:focus {
  border-color: #6fe083;
  background-color: #f7fdf8; }

.nps-Survey--blue .nps-Feedback-text {
  border-color: #cce4ff; }
.nps-Survey--blue .nps-Feedback-text:focus {
  border-color: #3294ff;
  background-color: #f4f9fe; }

.nps-Survey--red .nps-Feedback-text {
  border-color: #ffd7d5; }
.nps-Survey--red .nps-Feedback-text:focus {
  border-color: #ff6156;
  background-color: #fef7f6; }

.nps-Survey--yellow .nps-Feedback-text {
  border-color: #fff4cc; }
.nps-Survey--yellow .nps-Feedback-text:focus {
  border-color: #ffd632;
  background-color: #fefcf4; }

.nps-Survey--orange .nps-Feedback-text {
  border-color: #ffe9cc; }
.nps-Survey--orange .nps-Feedback-text:focus {
  border-color: #ffaa32;
  background-color: #fefaf4; }

.nps-Survey--violet .nps-Feedback-text {
  border-color: #f3d9fe; }
.nps-Survey--violet .nps-Feedback-text:focus {
  border-color: #d168fc;
  background-color: #fcf7fe; }

.nps-Panel {
  border-width: 2px;
  border-style: solid;
  background-color: white; }

.nps-Survey--gray .nps-Panel {
  border-color: #666;
  box-shadow: rgba(102, 102, 102, 0.4) 0 1px 4px 0; }

.nps-Survey--pink .nps-Panel {
  border-color: #ff4981;
  box-shadow: rgba(255, 73, 129, 0.4) 0 1px 4px 0; }

.nps-Survey--green .nps-Panel {
  border-color: #4CD964;
  box-shadow: rgba(76, 217, 100, 0.4) 0 1px 4px 0; }

.nps-Survey--blue .nps-Panel {
  border-color: #007AFF;
  box-shadow: rgba(0, 122, 255, 0.4) 0 1px 4px 0; }

.nps-Survey--red .nps-Panel {
  border-color: #FF3A2D;
  box-shadow: rgba(255, 58, 45, 0.4) 0 1px 4px 0; }

.nps-Survey--yellow .nps-Panel {
  border-color: #FFCC00;
  box-shadow: rgba(255, 204, 0, 0.4) 0 1px 4px 0; }

.nps-Survey--orange .nps-Panel {
  border-color: #FF9500;
  box-shadow: rgba(255, 149, 0, 0.4) 0 1px 4px 0; }

.nps-Survey--violet .nps-Panel {
  border-color: #C643FC;
  box-shadow: rgba(198, 67, 252, 0.4) 0 1px 4px 0; }

.nps-Panel {
  font-size: 16px;
  color: #333;
  max-width: 500px;
  min-width: 375px;
  margin: 20px auto;
  padding: 20px; }

.nps-Panel .nps-Survey--powered-by {
  line-height: 38px; }

.nps-Scale {
  margin-top: 14px;
  font-size: 0;
  width: 372px; }

.nps-Scale-value {
  display: inline-block;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-right: 2px; }

.nps-Scale-value:last-of-type {
  margin-right: 0; }

.nps-Survey--gray .nps-Scale-value {
  background-color: #e0e0e0; }
  .nps-Survey--gray .nps-Scale-value.nps-is-selected {
    background-color: #666; }
  .nps-Survey--gray .nps-Scale-value:hover {
    background-color: #d1d1d1; }
  .nps-Survey--gray .nps-Scale-value.nps-is-selected:hover {
    background-color: #4d4d4d; }

.nps-Survey--pink .nps-Scale-value {
  background-color: #ffdae5; }
  .nps-Survey--pink .nps-Scale-value.nps-is-selected {
    background-color: #ff4981; }
  .nps-Survey--pink .nps-Scale-value:hover {
    background-color: #ffc8d9; }
  .nps-Survey--pink .nps-Scale-value.nps-is-selected:hover {
    background-color: #ff165e; }

.nps-Survey--green .nps-Scale-value {
  background-color: #dbf7e0; }
  .nps-Survey--green .nps-Scale-value.nps-is-selected {
    background-color: #4CD964; }
  .nps-Survey--green .nps-Scale-value:hover {
    background-color: #c9f3d0; }
  .nps-Survey--green .nps-Scale-value.nps-is-selected:hover {
    background-color: #2ac845; }

.nps-Survey--blue .nps-Scale-value {
  background-color: #cce4ff; }
  .nps-Survey--blue .nps-Scale-value.nps-is-selected {
    background-color: #007AFF; }
  .nps-Survey--blue .nps-Scale-value:hover {
    background-color: #b2d7ff; }
  .nps-Survey--blue .nps-Scale-value.nps-is-selected:hover {
    background-color: #0062cc; }

.nps-Survey--red .nps-Scale-value {
  background-color: #ffd7d5; }
  .nps-Survey--red .nps-Scale-value.nps-is-selected {
    background-color: #FF3A2D; }
  .nps-Survey--red .nps-Scale-value:hover {
    background-color: #ffc3c0; }
  .nps-Survey--red .nps-Scale-value.nps-is-selected:hover {
    background-color: #f90f00; }

.nps-Survey--yellow .nps-Scale-value {
  background-color: #fff4cc; }
  .nps-Survey--yellow .nps-Scale-value.nps-is-selected {
    background-color: #FFCC00; }
  .nps-Survey--yellow .nps-Scale-value:hover {
    background-color: #ffefb2; }
  .nps-Survey--yellow .nps-Scale-value.nps-is-selected:hover {
    background-color: #cca300; }

.nps-Survey--orange .nps-Scale-value {
  background-color: #ffe9cc; }
  .nps-Survey--orange .nps-Scale-value.nps-is-selected {
    background-color: #FF9500; }
  .nps-Survey--orange .nps-Scale-value:hover {
    background-color: #ffdfb2; }
  .nps-Survey--orange .nps-Scale-value.nps-is-selected:hover {
    background-color: #cc7700; }

.nps-Survey--violet .nps-Scale-value {
  background-color: #f3d9fe; }
  .nps-Survey--violet .nps-Scale-value.nps-is-selected {
    background-color: #C643FC; }
  .nps-Survey--violet .nps-Scale-value:hover {
    background-color: #edc6fe; }
  .nps-Survey--violet .nps-Scale-value.nps-is-selected:hover {
    background-color: #b711fb; }

.nps-Scale-ratings {
  margin-bottom: 4px; }

.nps-Scale-hint {
  font-size: 12px;
  font-style: italic;
  color: #999; }

.nps-Scale-hint--unlikely {
  float: left; }

.nps-Scale-hint--likely {
  float: right; }

.nps-Survey {
  color: #333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  line-height: 1.42857143; }

.nps-Survey,
.nps-Survey * {
  box-sizing: border-box; }

.nps-Survey-buttons {
  float: right;
  margin-top: 14px; }

.nps-Survey-poweredBy {
  margin-top: 14px;
  font-size: 12px;
  line-height: 34px;
  float: left; }

.nps-Survey-poweredBy > a {
  text-decoration: none;
  font-weight: bold; }

.nps-Survey--gray .nps-Survey-poweredBy > a {
  color: #666; }

.nps-Survey--pink .nps-Survey-poweredBy > a {
  color: #ff4981; }

.nps-Survey--green .nps-Survey-poweredBy > a {
  color: #4CD964; }

.nps-Survey--blue .nps-Survey-poweredBy > a {
  color: #007AFF; }

.nps-Survey--red .nps-Survey-poweredBy > a {
  color: #FF3A2D; }

.nps-Survey--yellow .nps-Survey-poweredBy > a {
  color: #FFCC00; }

.nps-Survey--orange .nps-Survey-poweredBy > a {
  color: #FF9500; }

.nps-Survey--violet .nps-Survey-poweredBy > a {
  color: #C643FC; }

.nps-Title {
  font-size: 16px; }

.nps-cf:before,
.nps-cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.nps-cf:after {
  clear: both; }
