.nps-Panel {
  border-width: 2px;
  border-style: solid;
  background-color: white;
}

@each $theme, $base in $themes {
  .nps-Survey--#{$theme} .nps-Panel {
    border-color: $base;
    box-shadow: rgba($base, 0.4) 0 1px 4px 0;
  }
}

.nps-Panel {
  font-size: 16px;
  color: #333;
  max-width: 600px;
  min-width: 375px;
  margin: 20px auto;
  padding: 20px;
}

@media (max-width: 480px) {
  .nps-Survey .nps-Panel {
    border-width: 0;
    min-width: initial;
    font-size: 14px;
    box-shadow: none;
  }
}


.nps-Panel .nps-Survey--powered-by {
  line-height: 38px;
}

.nps-Panel .nps-Title {
  font-size: 18px;
}

.nps-Panel .nps-Rating {
  margin-bottom: 20px;
}
