<div
  class="nps-Panel"
  v-show="visible"
  >

  <div class="nps-Survey-bounding">
      <div class="nps-Survey-content">

      <div v-if="state == 'rating' || state == 'feedback'" v-transition="next">
        <div class="nps-Title">{{{ likelyHtml }}}</div>
        <div v-partial="rating"></div>

        <div v-if="state == 'feedback'" v-transition="nps-expand" class="nps-expand">
          <div class="nps-Title">{{ t('THANKS_IMPROVE') }}</div>
          <div v-partial="feedback"></div>
        </div>
      </div>

      <div v-partial="thanks" v-if="state == 'thanks'" v-transition="next"></div>
      <div v-partial="filled" v-if="state == 'filled'" v-transition="next"></div>

    </div>
  </div>

</div>

<div v-partial="powered-by" class="nps-center"></div>
