.nps-PoweredBy {
  font-size: 12px;
  margin-top: 20px;
}
.nps-PoweredBy > a {
  text-decoration: none;
  font-weight: bold;
}
@each $theme, $base in $themes {
  .nps-Survey--#{$theme} .nps-PoweredBy > a {
    color: $base;
  }
}
