.nps-Preview {
  background-color: white;
  border-width: 2px;
  border-style: solid;
  font-size: 14px;
  margin: auto;
  padding: 20px;
  position: absolute;
  width: 417px;
}

@each $theme, $base in $themes {
  .nps-Survey--#{$theme} .nps-Preview {
    border-color: $base;
    box-shadow: rgba($base, 0.4) 0 1px 4px 0;
  }
}

.nps-Preview--top {
  top: 20px;
}
.nps-Preview--middle {
  top: 50%;
  transform: translate(0, -50%);
}
.nps-Preview--bottom {
  bottom: 20px;
}

.nps-Preview--left {
  left: 20px;
}
.nps-Preview--center {
  left: 0;
  right: 0;
}
.nps-Preview--right {
  right: 20px;
}
