$themes: (
  "gray": #666,
  "pink": #ff4981,
  "green": #4CD964,
  "blue": #007AFF,
  "red": #FF3A2D,
  "yellow": #FFCC00,
  "orange": #FF9500,
  "violet": #C643FC
);

@import 'button';

.nps-Survey {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.42857143;
  background-color: #fff;
  color: #333;
  border-width: 2px;
  border-style: solid;
}
.nps-Survey,
.nps-Survey * {
  box-sizing: border-box;
}

@each $theme, $base in $themes {
  .nps-Survey--#{$theme} {
    border-color: $base;
    box-shadow: rgba($base, 0.4) 0 1px 4px 0;
  }
}

.nps-Survey-closeIcon {
  float: right;
  font-weight: bold;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;

  font-size: 16px;
  width: 30px;
  height: 30px;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 1;
  transition: opacity 500ms;
}
.nps-Survey-closeIcon.nps-expand-enter,
.nps-Survey-closeIcon.nps-expand-leave {
  opacity: 0;
}
.nps-Survey-closeIcon:focus {
  outline: 0;
}
@each $theme, $base in $themes {
  .nps-Survey--#{$theme} .nps-Survey-closeIcon {
    background-color: $base;
    &:hover {
      background-color: mix($base, white, 90%);
    }
  }
}

.nps-Scale {
  margin-top: 14px;
  font-size: 0;
  width: 372px;
}
.nps-Scale-value {
  display: inline-block;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-right: 2px;
}
.nps-Scale-value:last-of-type {
  margin-right: 0;
}
@each $theme, $base in $themes {
  .nps-Survey--#{$theme} .nps-Scale-value {
    background-color: mix($base, white, 20%);
    &.nps-is-selected {
      background-color: $base;
    }
    &:hover {
      background-color: mix($base, white, 30%);
    }
    &.nps-is-selected:hover {
      background-color: darken($base, 10%);
    }
  }
}
.nps-Scale-ratings {
  margin-bottom: 4px;
}

.nps-Survey-hint {
  float: left;
  font-size: 12px;
  font-style: italic;
  color: #999;
}
.nps-Survey-hint--likely {
  float: right;
}

.nps-Feedback-textContainer {
  height: 80px;
  margin-top: 14px;
  overflow: hidden;
  transition: height 500ms;
}
.nps-Feedback-textContainer.nps-expand-enter,
.nps-Feedback-textContainer.nps-expand-leave {
  height: 0px;
}

.nps-Feedback-text {
  border-width: 2px;
  border-style: solid;
  font-size: 14px;
  padding: 7px 10px;
  width: 100%;
  height: 100%;
  resize: none;
}
.nps-Feedback-text:focus {
  outline: 0;
}
@each $theme, $base in $themes {
  .nps-Survey--#{$theme} {
    .nps-Feedback-text {
      border-color: mix($base, white, 20%);
    }
    .nps-Feedback-text:focus {
      border-color: mix($base, white, 80%);
      background-color: mix($base, white, 4%);
    }
  }
}

.nps-Survey-buttons {
  float: right;
  margin-top: 14px;
}

.nps-Survey-poweredBy {
  margin-top: 14px;
  font-size: 12px;
  line-height: 34px;
  float: left;
}
.nps-Survey-poweredBy > a {
  text-decoration: none;
  font-weight: bold;
}
@each $theme, $base in $themes {
  .nps-Survey--#{$theme} .nps-Survey-poweredBy > a {
    color: $base;
  }
}

.nps-Feedback {
  max-height: 400px;
  overflow: hidden;
  transition: max-height 500ms;
}
.nps-Feedback.nps-expand-enter, .nps-Feedback.nps-expand-leave {
  max-height: 0;
}

.nps-Thanks {
  max-height: 200px;
  overflow: hidden;
  transition: max-height 500ms;
}
.nps-Thanks.nps-expand-enter,
.nps-Thanks.nps-expand-leave {
  max-height: 0;
}

/* Dialog theme */

.nps-Survey--dialog {
  width: 417px;
  position: fixed;
  z-index: 2147483646;

  padding: 20px;
  margin: 20px;

  font-size: 14px;
}
.nps-Survey--dialog.nps-Survey--tr,
.nps-Survey--dialog.nps-Survey--br {
  transition: right 500ms;
  right: 0;
}
.nps-Survey--dialog.nps-Survey--tl,
.nps-Survey--dialog.nps-Survey--bl {
  transition: left 500ms;
  left: 0;
}
.nps-Survey--dialog.nps-Survey--tr.nps-show-enter,
.nps-Survey--dialog.nps-Survey--tr.nps-show-leave,
.nps-Survey--dialog.nps-Survey--br.nps-show-enter,
.nps-Survey--dialog.nps-Survey--br.nps-show-leave {
  right: -500px;
}
.nps-Survey--dialog.nps-Survey--tl.nps-show-enter,
.nps-Survey--dialog.nps-Survey--tl.nps-show-leave,
.nps-Survey--dialog.nps-Survey--bl.nps-show-enter,
.nps-Survey--dialog.nps-Survey--bl.nps-show-leave {
  left: -500px;
}
.nps-Survey--dialog .nps-Title {
  margin-right: 20px;
  font-size: 16px;
}

/* In-page theme */

.nps-Survey--page {
  font-size: 16px;
  color: #333;
  max-width: 500px;
  min-width: 375px;
  margin: 20px auto;
  padding: 20px;
}

.nps-Survey-page .nps-Survey--powered-by {
  line-height: 38px;
}


/* Utils */

.nps-cf:before,
.nps-cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.nps-cf:after {
  clear: both;
}
