.nps-Survey {
  color: #333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.42857143;
}
.nps-Survey,
.nps-Survey * {
  box-sizing: border-box;
}

.nps-Survey-buttons {
  float: right;
  margin-top: 14px;
}

.nps-Survey-poweredBy {
  margin-top: 14px;
  font-size: 12px;
  line-height: 34px;
  float: left;
}
.nps-Survey-poweredBy > a {
  text-decoration: none;
  font-weight: bold;
}
