<div
  class="nps-Survey
    nps-Survey--{{theme}}
    nps-Survey--{{skin}}
    nps-Survey--{{vertical}}
    nps-Survey--{{horizontal}}"
  v-class="nps-Survey--test: test"
  title="{{distanceStyle}}"
  v-style="top: topPosition, bottom: bottomPosition"
  v-show="visible"
  v-transition="nps-show">

  <button
    v-if="showCloseIcon"
    v-on="click: close"
    class="nps-Survey-closeIcon"
    v-transition="nps-show"
  >&#x2715;</button>

  <div class="nps-Survey-body">
    <div v-partial="{{state}}"></div>
  </div>

  <div class="nps-cf">
    <div
      class="nps-Survey-poweredBy"
      v-if="poweredBy"
      >Powered by <a href="http://www.satismeter.com" target="_blank">SatisMeter</a>
    </div>

    <div class="nps-Survey-buttons">
      <button
        class="nps-Button nps-Survey-submit"
        v-if="showSubmitButton"
        v-on="click: ratingSubmit"
        >{{t('SUBMIT')}}</button>
    </div>
  </div>

</div>
