.nps-Survey .nps-cf:before,
.nps-Survey .nps-cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.nps-Survey .nps-cf:after {
  clear: both;
}

.nps-Survey .nps-left {
  text-align: left;
}

.nps-Survey .nps-center {
  text-align: center;
}

.nps-Survey .nps-margin-t20 {
  margin-top: 20px;
}
